@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px 20px;
    width: 100%;
    border-radius: 19px;
    background: #000 linear-gradient(135deg, rgb(9, 26, 125), rgba(11, 40, 51, 0.575),rgba(23, 35, 142, 0.635), rgba(5, 39, 52, 0.575));
    color:rgb(125, 233, 255);
}
.content {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
}
.title {
    font-size: 50px;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    margin-bottom: 40px;
}
@media (max-width: 830px) {
  .container {
    width: 100%;
    padding: 10px;
  }
} 