@import "../../vars.css";

.navbar {
    background-color: var(--color-dark);
    position:relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 35px 20px;
    z-index: 2;
    margin: 0px ;
}

.title {
    font-size: 44px;
    font-weight: 600;
    text-emphasis: none;
    color: var(--color-text);
    margin: 0px 0px 6px 30px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin: 0px 0px 0px 0px;
    flex: 1;
}

.menuItems {
    display: flex;
    gap : 42px;
    list-style: none;
    font-size: 34px;
    font-weight: 250;
}
.menuItems a {
    text-decoration: none;
    color: var(--color-text);
}
.menuBtn {
    width: 74px;
    height: 59px;
    cursor: pointer;
    object-fit:contain;
    position:relative;
    display: none; /* Hide by default (large screens) */
    margin-left: 20px;
}

@media screen and (max-width: 1100px) {
    .navbar {
        flex-direction: row;
        width: 100%;
        align-items: center;
        z-index: 2;
    }
    .title {
        font-size: 32px;
        margin: 0px 0px 6px 20px;
    }
    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 13px;
        position: relative;
        width: auto;
    }
    .menuItems{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        gap:15px;
        border-radius: 9px;
        padding: 23px 36px 21px 34px;
        background-color: rgb(25, 54, 109);
        background: linear-gradient(0deg, rgba(15, 80, 121, 0.872),  rgb(4, 25, 77));
        box-shadow:20px 13px 26px 15px rgba(13, 54, 100, 0.781);
        position: absolute;
        top: 60px;
        right: 0;
        min-width: 180px;
    }
    
    .menuOpen{
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--color-secondary);
        padding: 1rem;
        border-radius: 8px;
        z-index: 1;
    }
    .menuBtn{
        display:flex; /* Show only on small screens */
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        margin: 0px 0px 0px 0px;
    }
    
}